@use "sass:list";

$base-font-color: #fff;
$rest-font-color: grey;
$color-box-text: rgba(255, 255, 255, 0.03);
$background-colors: (red, blue, green);

@for $i from 1 through 3 {
  .container:nth-child(#{$i}) {
    display: flex;
    justify-content: space-evenly;
    width: 890px;
    margin-bottom: 10px;
    font: {
      family: Arial, Helvetica, sans-serif;
      weight: 500;
    }

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      padding: 4px 2px;
      border-radius: 4px;
      color: $rest-font-color;
    }

    .base-color {
      color: $base-font-color;
      background-color: list.nth($background-colors, $i);
    }

    @for $j from 1 through 4 {
      .darken-#{$j} {
        background-color: darken(list.nth($background-colors, $i), $j * 5);
      }

      .lighten-#{$j} {
        background-color: lighten(list.nth($background-colors, $i), $j * 5);
      }
    }
  }
}
