$margin: 10px;
$primary-color: rgb(83, 209, 83);
$secondary-color: grey;
$border-color: lightgrey;

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 16px;
  padding: 4px;
}

.card {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid $border-color;

  &__title {
    margin: 20px $margin;
    font-weight: 300;
  }

  &__intro {
    margin: $margin $margin calc($margin * 2);
    color: $secondary-color;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 200;
    line-height: 1.5em;
  }

  &__info {
    padding: 0 $margin;
    text-align: right;

    span {
      color: $primary-color;
    }
  }

  &__button {
    margin: 0 $margin $margin;
    padding: 20px;
    color: #fff;
    background-color: $primary-color;
    font-size: 16px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__image {
    grid-area: image;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 481px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media screen and (min-width: 769px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }
}

/*
  ** This section is to show the usage of grid-template-areas.
  ** Therefore, we will include the grid-area for each element here and not in the styles above.
*/
@media screen and (min-width: 1600px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "card3 . card2 card5"
      ". card4 . card1";
  }

  .card {
    &:first-child {
      grid-area: card1;
    }

    &:nth-child(2) {
      grid-area: card2;
    }

    &:nth-child(3) {
      grid-area: card3;
    }

    &:nth-child(4) {
      grid-area: card4;
    }

    &:last-child {
      grid-area: card5;
    }
  }
}
